BasedOnStyle: Google

IndentWidth: 4
ColumnLimit: 120

AlignEscapedNewlinesLeft: true
AlignTrailingComments: true

BreakConstructorInitializersBeforeComma: true

BinPackParameters: false

SortIncludes: false